@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1516px;
  }
}

.gramota-search {
}

@media (max-width: 576px) {
  .gramota-left-col {
    border-right: 0 !important;
  }
}

@media (max-width: 576px) {
  .gramota-search input[type="search"],
  .gramota-search button[type="submit"] {
    font-size: 4vw;
    border-radius: 0 !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
  }

  .gramota-search .col2:last-of-type button[type="submit"] {
    height: 52px !important;
  }
}

@media (max-width: 992px) {
  .gramota-logo {
    width: 188px !important;
    height: 40px !important;
  }
}

* {
  font-family: "Spectral", serif;
  color: #303030 !important;
  outline: none;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: none;
  box-shadow: none !important;
}

a,
a span,
button {
  transition: 0.3s !important;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.text-dark {
  color: #303030 !important;
}

.container-xxl {
  padding: 0;
  padding: 0;
}

.overflow-hidden {
  overflow: hidden;
}

body .row .container-xxl-12,
body .row .container-xl-12,
body .row .container-lg-12,
body .row .container-md-12,
body .row .container-sm-12,
body .row .container-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1024px) {
  .container-xxl {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .container-xxl {
    padding: 0;
  }
}

.row {
  margin: 0;
}

h2,
h2 a,
h3,
h3 a,
h4,
h4 a,
h5,
h5 a,
h6,
h6 a {
  font-family: "Conv_SuisseIntl-Bold", Sans-Serif;
  word-break: normal;
}

.gramota-EuclidCircularA-Light {
  font-family: "Conv_EuclidCircularA-Light";
}

.gramota-SuisseIntl-Regular {
  font-family: "Conv_SuisseIntl-Regular";
}

.gramota-SuisseIntl-Book {
  font-family: "Conv_SuisseIntl-Book";
}

.gramota-SuisseIntl-SemiBold {
  font-family: "Conv_SuisseIntl-SemiBold";
}

.gramota-Spectral {
  font-family: "Spectral", serif;
}

.gramota-x-paddings {
  padding-left: 56px;
  padding-right: 56px;
}

@media (max-width: 992px) {
  .gramota-x-paddings {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (max-width: 768px) {
  .gramota-x-paddings {
    padding-left: 12px;
    padding-right: 12px;
  }
  .gramota-x-paddings.gramota-x-paddings-search {
    padding-left: 0px;
    padding-right: 0px;
  }
}
*/ header a {
  font-family: "Conv_SuisseIntl-Regular" !important;
  font-size: 18px !important;
}

.gramota-header {
  border: 1px solid #fff;
  border-bottom: 0;
}

@media (max-width: 576px) {
  .gramota-header {
    border-bottom: 1px solid #ddd;
  }
}

header a {
  cursor: pointer;
}

header .container-fluid {
  position: relative;
}

.gramota-menu-opened {
  position: fixed;
  left: 0;
  background: #fff;
  z-index: 200;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.gramota-menu-opened.active {
  opacity: 1;
  visibility: visible;
}
.gramota-menu-opened-close {
  position: fixed;
  right: 20px;
  top: 20px;
}

@media (max-width: 576px) {
  .gramota-menu-opened {
    overflow-y: scroll;
    top: 0 !important;
    height: 100vh !important;
  }
}

@media (max-width: 1200px) {
  header .nav-link {
    font-size: 15px !important;
  }
}

.gramota-search {
  font-family: "Conv_SuisseIntl-Regular" !important;
  /*  padding-left: 68px;
  padding-right: 68px;
  padding: 0 12px;*/
}

@media (min-width: 1400px) {
  .gramota-search {
  }
}

.gramota-search a {
  font-family: "Conv_SuisseIntl-Light" !important;
  font-size: 18px !important;
  letter-spacing: 0.02rem;
}

.gramota-search .col2:first-of-type {
  width: 100%;
}

.gramota-search .col2:nth-of-type(2) {
  flex-basis: 240px !important;
  width: 240px !important;
}

.gramota-search .col2:nth-of-type(2) button[type="submit"] {
  width: 100%;
  font-family: "Conv_SuisseIntl-SemiBold";
  letter-spacing: 0.02rem;
}

.gramota-search input[type="search"] {
  font-family: "Conv_SuisseIntl-regular" !important;
  font-size: 24px !important;
  height: 72px;
  padding: 0 0 0 28px;
}

@media (max-width: 992px) {
  .gramota-search {
    /*
    padding-left: 48px;
    padding-right: 48px;*/
  }

  .gramota-search input[type="search"] {
    font-size: 18px !important;
    height: 52px;
    padding: 0 0 0 18px;
  }

  .gramota-search .col2:nth-of-type(2) {
    flex-basis: 200px !important;
    width: 200px !important;
  }
  .gramota-search .col2:nth-of-type(2) button[type="submit"] {
    font-size: 18px !important;
  }
}

@media (max-width: 768px) {
  .gramota-search {
    /*  padding-left: 12px;
    padding-right: 12px;*/
  }

  .gramota-search input[type="search"] {
    font-size: 18px !important;
    height: 52px !important;
    padding: 0 0 0 18px;
    border-radius: 0 !important;
  }

  .gramota-search .col2:nth-of-type(2) {
    flex-basis: 150px !important;
    width: 150px !important;
  }
  .gramota-search .col2:nth-of-type(2) button[type="submit"] {
    font-size: 14px !important;
  }
}

@media (max-width: 576px) {
  .gramota-search {
  }

  .gramota-search input[type="search"] {
    font-size: 14px !important;
    height: 42px !important;
    padding: 0 0 0 18px;
    border-radius: 0 !important;
  }

  .gramota-search .col2:nth-of-type(2) {
    flex-basis: 150px !important;
    width: 150px !important;
  }
  .gramota-search button[type="submit"] {
    font-size: 14px !important;
    height: 42px !important;
  }
}

.gramota-search-top-block {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  /* padding-left: 12px !important;
  padding-right: 12px !important;*/
}

@media (max-width: 992px) {
  .gramota-search-top-block {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}

@media (max-width: 768px) {
  .gramota-search-top-block {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  .gramota-search-top-block .col-12 {
    padding: 0;
  }
}

.gramota-card-promo {
}

.gramota-card-promo h2 {
  font-family: "Conv_SuisseIntl-Book";
  font-size: 36px;
}

.gramota-card-promo p {
}

.gramota-card-promo a {
  font-family: "Conv_SuisseIntl-SemiBold";
  font-size: 18px;
  letter-spacing: 0.02rem;
  padding: 10px 20px 10px 20px;
}

.gramota-card-promo p a {
  padding: 0;
}

.gramota-card-promo a svg {
  position: relative;
  top: -3px;
}

.gramota-card-promo {
  border-width: 0.75rem;
  border-color: #dce9e2;
  min-height: 17rem;
}

.gramota-card-promo .btn-primary {
  border: 0;
}

.gramota-card-promo.gramota-card-promo2 {
  /*border-bottom: 0;*/
}

.gramota-promo2-text-bg-fade {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7) 100%);
}

.gramota-promo2-text-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.gramota-card-promo .card-img {
  width: 27.25rem;
  position: absolute;
  right: 1.875rem;
  bottom: -0.75rem;
}

.gramota-card-promo.gramota-card-promo2 .card-img {
  bottom: 0;
}

@media (max-width: 576px) {
  .gramota-card-promo a {
    padding: 9px 10px 6px 10px;
    font-size: 15px;
  }
  .gramota-card-promo .card-img {
    right: -0.75rem;
  }
}

.gramota-card-promo .btn.btn-primary {
  background-color: #39735d;
}

.gramota-card-promo.gramota-card-promo2 .btn.btn-primary {
  background-color: #ffe350;
}

.gramota-card-promo .btn.btn-primary svg {
  margin-right: 0.5rem;
}

@media (max-width: 992px) {
  .gramota-card-promo {
    /* margin-left: 48px;
    margin-right: 48px;*/
    min-height: 14rem;
  }
  .gramota-card-promo h2 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .gramota-card-promo {
    min-height: 12rem;
  }
  .gramota-card-promo h2 {
    font-size: 18px;
  }
}

.gramota-journal-h1 {
  font-family: "Conv_EuclidCircularA-Light";
  font-weight: normal;
  font-size: 55px;
}

@media (max-width: 992px) {
  .gramota-journal-h1 {
    font-size: 45px;
  }
}

@media (max-width: 768px) {
  .gramota-journal-h1 {
    font-size: 34px;
  }
}

.gramota-article-h1 {
  font-weight: normal;
  font-size: 55px;
  margin-left: 0;
}

@media (max-width: 992px) {
  .gramota-article-h1 {
    font-size: 45px;
  }
}

@media (max-width: 768px) {
  .gramota-article-h1 {
    font-size: 24px;
  }
}

.gramota-article-p {
  font-weight: normal;
  font-size: 22px;
  margin-left: 0;
}

@media (max-width: 992px) {
  .gramota-article-p {
    font-size: 20px !important;
  }
}

@media (max-width: 768px) {
  .gramota-article-p {
    font-size: 18px !important;
  }
}

.gramota-nav-tabs {
  height: 51px !important;
}

.gramota-nav-tabs .nav-item a {
  display: inline-block;
}

.gramota-nav-tabs.nav-tabs .nav-link {
  border: 0;
  border-bottom: 0.5rem solid transparent;
  border-radius: 0 !important;
  font-size: 18px !important;
  padding-bottom: 0;
}

@media (max-width: 992px) {
  .gramota-nav-tabs.nav-tabs .nav-link {
    font-size: 15px !important;
  }

  .gramota-nav-tabs {
    height: 48px !important;
  }
}

@media (max-width: 768px) {
  .gramota-nav-tabs.nav-tabs .nav-link {
    font-size: 14px !important;
  }
}

.gramota-nav-tabs.nav-tabs .nav-link.active {
  border-bottom: 0.5rem solid #303030;
  font-weight: bold;
}

@media (max-width: 576px) {
  .gramota-nav-tabs {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    height: 28px !important;
  }

  .gramota-nav-tabs {
    height: 48px !important;
  }
}

.card-link {
  font-family: "Conv_EuclidCircularA-Light", Sans-Serif !important;
  font-size: 0.9375rem;
  color: #7c858f;
  opacity: 0.7;
}

.gramota-card-1 h2 a {
  font-size: 2rem;
  font-weight: normal !important;
}

.gramota-card-1 .card-text {
  letter-spacing: -0.01125rem;
  font-size: 20px;
  line-height: 28px;
}

.gramota-card-1 .card-link {
  font-family: "Conv_EuclidCircularA-Light", Sans-Serif !important;
  font-size: 0.9375rem;
  color: #7c858f;
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .gramota-card-1 h2 a {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .gramota-card-1 h2 a {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .gramota-card-1 h2 a {
    font-size: 18px;
  }
  .gramota-card-1 .card-text {
    font-size: 18px;
    line-height: 24px;
  }
}

.gramota-person a {
  font-family: "Conv_SuisseIntl-SemiBold";
  font-size: 0.9375rem;
  letter-spacing: 0.02rem;
  font-weight: normal !important;
}

.gramota-person .card-link {
  font-family: "Conv_EuclidCircularA-Light", Sans-Serif !important;
  font-weight: normal !important;
}

.gramota-card-2 h2 {
  line-height: 1.9rem;
}

.gramota-card-2 h2 a {
  font-size: 1.5rem;
  font-weight: normal !important;
}

.gramota-card-2 h4 {
  line-height: 1.9rem;
}

.gramota-card-2 h4 a {
  font-size: 1.5rem;
  font-weight: normal !important;
}

.gramota-card-2 .card-link {
  font-family: "Conv_EuclidCircularA-Light", Sans-Serif !important;
  font-size: 0.9375rem;
  color: #7c858f;
  opacity: 0.7;
}

.gramota-card-2 .card-text {
  letter-spacing: -0.01125rem;
  font-size: 20px;
  line-height: 28px;
}

@media (max-width: 1200px) {
  .gramota-card-2 h2 {
    line-height: 24px;
  }
  .gramota-card-2 h2 a {
    font-size: 18px;
  }
  .gramota-card-2 h4 {
    line-height: 24px;
  }
  .gramota-card-2 h4 a {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .gramota-card-2 h2 {
    line-height: 24px;
  }
  .gramota-card-2 h2 a {
    font-size: 18px;
  }
  .gramota-card-2 h4 {
    line-height: 24px;
  }
  .gramota-card-2 h4 a {
    font-size: 18px;
  }
}

.gramota-checking-list h2 {
  font-size: 28px;
}

.gramota-checking-list ol {
  list-style: none;
  counter-reset: list;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.gramota-checking-list ol > li {
  position: relative;
  font-family: "Conv_SuisseIntl-Light";
  font-size: 18px;
}

.gramota-checking-list ol > li::before {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: 1.3rem;
  top: 0rem;
}
.gramota-checking-list ol > li svg {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: 0;
  top: 0.5rem;
}

@media (max-width: 992px) {
  .gramota-checking-list h2 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .gramota-checking-list h2 {
    font-size: 18px;
  }
}

.gramota-word h2 {
  font-size: 28px;
}

.gramota-word h3 {
  font-size: 36px;
}

.gramota-word p {
  font-size: 22px;
  letter-spacing: -0.01rem;
}

@media (max-width: 992px) {
  .gramota-word h2 {
    font-size: 20px;
  }

  .gramota-word h3 {
    font-size: 28px;
  }

  .gramota-word p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .gramota-word h2 {
    font-size: 18px;
  }

  .gramota-word h3 {
    font-size: 18px;
  }

  .gramota-word p {
    font-size: 18px;
  }
}

.gramota-questions h2 {
  font-size: 28px;
}

.gramota-questions h3 {
  font-size: 36px;
}

@media (max-width: 992px) {
  .gramota-questions h2 {
    font-size: 20px;
  }

  .gramota-questions h3 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .gramota-questions h2 {
    font-size: 18px;
  }

  .gramota-questions h3 {
    font-size: 18px;
  }
}

.gramota-journal-h2 {
}

@media (max-width: 768px) {
  .gramota-journal-h2 {
    font-size: 18px;
  }
}

.gramota-yellow h2 {
  font-size: 52px;
}

.gramota-yellow p {
  font-size: 20px;
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .gramota-yellow h2 {
    font-size: 32px;
    text-align: left !important;
  }
  .gramota-yellow {
    background: none !important;
    text-align: left !important;
    justify-content: start !important;
  }

  .gramota-yellow .text-center,
  .gramota-yellow .justify-content-center {
    text-align: left !important;
    justify-content: start !important;
  }
}

@media (max-width: 576px) {
  .gramota-yellow h2 {
  }
}

.gramota-lections h2 {
  line-height: 1.9rem;
}

.gramota-lections h2 a {
  font-size: 1.5rem;
  font-weight: normal !important;
}

.gramota-spectral {
  font-family: "Spectral", serif;
}

.gramota-spectral-800 {
  font-family: "Spectral", serif;
  font-weight: 800;
}

.gramota-roboto-300 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.gramota-roboto-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.gramota-roboto-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.gramota-jost {
  font-family: "Jost", sans-serif;
  font-weight: normal !important;
}

.top-search-tabs {
}

.gramota-top-search-tabs.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background: none;
  border: 1rem solid #ffe350;
  border-width: 0 0 0.5rem 0;
  color: #fff;
}

.gramota-top-search-tabs.nav-tabs .nav-link {
  color: #fff;
  border: 0;
  font-size: 1.2rem;
  border: 1rem solid transparent;
  border-width: 0 0 0.5rem 0;
  padding-bottom: 0.9rem !important;
}

@media (max-width: 992px) {
  .gramota-top-search-tabs.nav-tabs .nav-link {
    font-size: 1rem !important;
  }
}

.gramota-youtube {
  background: #dadcdf;
}

.gramota-youtube div {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.gramota-youtube div iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.gramota-experts,
.gramota-events {
  position: relative;
}

.gramota-experts h2,
.gramota-events h2 {
  font-size: 28px;
}

.gramota-experts h3 a,
.gramota-events h3 a {
  font-family: "Conv_SuisseIntl-SemiBold";
  font-size: 1.5rem;
  letter-spacing: 0.02rem;
}

.gramota-events h5 {
  font-family: "Conv_SuisseIntl-Regular";
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
}

.gramota-experts .slider .slick-arrow,
.gramota-events .slider .slick-arrow {
  position: absolute;
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  background: #39735d;
  border: none;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: 1.3125rem 2.625rem;
  font-size: 0;
  z-index: 10;
}

@media (max-width: 768px) {
  .gramota-experts h2,
  .gramota-events h2 {
    font-size: 20px;
  }
  .gramota-experts h3,
  .gramota-experts h3 a {
    font-size: 18px;
  }
  .gramota-experts .slider .slick-arrow,
  .gramota-events .slider .slick-arrow {
    width: 32px;
  }
}

.gramota-experts .slider .slick-arrow.slick-prev,
.gramota-events .slider .slick-arrow.slick-prev {
  background-image: url("../images/img017.png");
}

.gramota-experts .slider .slick-arrow.slick-next,
.gramota-events .slider .slick-arrow.slick-next {
  left: auto;
  right: 0;
  background-image: url("../images/img017.png");
  transform: rotate(180deg);
}

.gramota-experts > h2,
.gramota-events > h2 {
  position: absolute;
  left: 50%;
  top: 4rem;
  transform: translateX(-50%);
}

.gramota-all-experts-button {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
}

.gramota-all-events-button {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
}

.gramota-social li a {
  width: 2.5rem !important;
  height: 2.5rem !important;
  position: relative;
  display: block !important;
}

.gramota-social li a img {
  border-radius: 50%;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: 0.3s;
}

/*
.gramota-social li a svg {
  width: 85px;
  height: 85px;
}
*/
.gramota-social li a span {
  width: 18px;
  height: auto !important;
  display: inline-block !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 576px) {
  .gramota-ad {
    display: none;
  }
}

.gramota-lections .col-xs-12.col-md-6.col-lg-4 {
  border-right: 1px solid #e6e6e6;
}

.gramota-lections .col-xs-12.col-md-6.col-lg-4:last-of-type {
  border-right: 0;
}

@media (max-width: 768px) {
  .gramota-lections .col-xs-12.col-md-6.col-lg-4 {
    border-right: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .gramota-lections .col-xs-12.col-md-6.col-lg-4:nth-of-type(2) {
    border-right: 0 !important;
  }
}

@media (max-width: 576px) {
  footer .gramota-left-col {
    border-right: 0 !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  footer .gramota-left-col:nth-of-type(2) {
    border-right: 0 !important;
  }
}
.breadcrumb {
  background: #f6f6f7;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "";
  width: 16px;
  height: 14px;
  background: url("../images/img034.png") no-repeat;
  background-size: cover;
  margin: 5px 8px 0 0;
}

.breadcrumb.breadcrumb2 {
  background: none;
}

.gramota-subscribe .row {
  padding: 95px 0 0 0;
  margin-top: -70px;
}

.gramota-subscribe img {
  position: absolute;
  left: 50%;
  top: 0;
  width: auto;
  height: 95px;
}

@media (max-width: 768px) {
  .gramota-subscribe .row {
    padding: 165px 0 0 0;
    margin-top: -70px;
  }
  .gramota-subscribe img {
    transform: translateX(-50%);
    top: 75px;
  }
}

.gramota-show-more {
  font-size: 24px;
}

.gramota-show-more span {
  font-size: 24px;
}

@media (max-width: 992px) {
  .gramota-show-more {
  }
  .gramota-show-more span {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .gramota-show-more {
    margin-left: 12px;
    margin-right: 12px;
  }
  .gramota-show-more span {
    font-size: 18px;
  }
}

.gramota-article-text > p {
}

.gramota-article-text > .gramota-first-p {
  font-size: 24px;
}

@media (max-width: 768px) {
  .gramota-article-text > .gramota-first-p {
    font-size: 18px;
  }
}

.gramota-article-h2 {
  font-size: 28px;
}

@media (max-width: 768px) {
  .gramota-article-h2 {
    font-size: 18px;
    text-align: center;
  }
}

.gramota-breadcrumbs {
  margin: 0 4px !important;
}

.gramota-breadcrumbs .btn-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 0.3rem;
  height: 0.3em;
}

.gramota-collapse .btn {
  padding: 0 27px 0 0;
  background: url("../images/img041.png") no-repeat 100% 8px;
}

.gramota-collapse .btn.collapsed {
  background: url("../images/img040.png") no-repeat 100% 8px;
}

.gramota-contents li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.gramota-contents a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Conv_SuisseIntl-Regular";
  color: #39735d !important;
}

.gramota-contents a strong {
  color: #39735d !important;
  font-family: "Conv_SuisseIntl-Regular";
}

.gramota-fs-13 {
  font-size: 13px;
}

.gramota-fs-14 {
  font-size: 14px;
}

.gramota-fs-15 {
  font-size: 15px;
}

.gramota-fs-16 {
  font-size: 16px;
}

.gramota-fs-18 {
  font-size: 18px;
}

.gramota-fs-20 {
  font-size: 20px;
}

.gramota-fs-22 {
  font-size: 22px;
}

.gramota-fs-24 {
  font-size: 24px;
}

.gramota-fs-32 {
  font-size: 32px;
}
.gramota-fs-36 {
  font-size: 36px;
}
.gramota-fs-40 {
  font-size: 40px;
}

.cursor-pointer {
  cursor: pointer;
}

.gramota-tooltip-content {
  width: 500px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  display: block;
  position: absolute;
  right: -510px;
  top: -45px;
  cursor: text;
  line-height: normal;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.gramota-tooltip-content.active {
  opacity: 1;
  visibility: visible;
}

.gramota-tooltip-content::before {
  content: "";
  display: block;
  position: absolute;
  left: -10px;
  top: 45px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
}

.gramota-tooltip-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.page-item {
}

.page-item .page-link {
  background: none;
  background: #eff3f2;
  padding: 20px 25px;
  margin: 0 15px;
}

.page-item:first-of-type .page-link,
.page-item:last-of-type .page-link {
  padding: 20px;
}

.page-item.active .page-link {
  background: #39735d;
  color: #fff !important;
}

.page-link {
  color: #fff;
}

@media (max-width: 576px) {
  .page-item .page-link {
    padding: 10px 20px;
    margin: 0 10px;
  }

  .page-item:first-of-type .page-link,
  .page-item:last-of-type .page-link {
    padding: 10px 13px;
  }

  .page-item:first-of-type .page-link {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .gramota-event-list-item .gramota-event-date span:first-of-type {
    display: block;
  }
}

.groamota-dropdown a::after {
  display: none;
}

.groamota-dropdown .dropdown-menu {
  left: auto;
  right: 0;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  min-width: 250px;
}
@media (max-width: 576px) {
  .groamota-dropdown .dropdown-menu {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    width: 100vw;
    position: fixed;
  }
}

.form-check-input {
  width: 1.4em;
  height: 1.4em;
}

.form-check-input:checked {
  background-color: #39735d;
  border-color: #39735d;
}

.gramota-social {
  justify-content: flex-start;
}

.gramota-social a {
  z-index: 10;
  width: 60px !important;
  display: block;
  text-align: center;
}

@media (max-width: 576px) {
  .gramota-social a {
    z-index: 10;
    width: 40px !important;
  }

  .gramota-social a svg {
    transform: scale(0.5);
  }

  footer .gramota-social a svg {
    transform: scale(1);
  }
}

@media (max-width: 576px) {
  body {
    padding: 55px 0 0 0;
  }
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    background: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 9999;
  }
}

.gramota-profile-fade {
  position: absolute;
  left: 4px;
  top: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: none;
  cursor: auto;
}

.gramota-profile-userpic:hover .gramota-profile-fade {
  display: block;
}

.gramota-profile-fade .gramota-profile-edit {
  position: absolute;
  bottom: 15px;
  left: 30px;
  cursor: pointer;
}
.gramota-profile-fade .gramota-profile-delete {
  position: absolute;
  bottom: 15px;
  right: 30px;
  cursor: pointer;
}

.gramota-profile-delete-popup {
  width: 320px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: -16px;
  transform: translateX(0);
  top: -55px;
  display: none;
}

.gramota-profile-delete-popup h5 {
  font-size: 16px;
  text-align: center;
}

@media (max-width: 576px) {
  .gramota-profile-delete-popup {
    left: -16px;
    transform: translateX(0);
  }
}

@media (max-width: 576px) {
  .gramota-x-paddings.gramota-berau {
    padding: 0;
  }
}

.gramota-berau-ol {
  list-style-type: none;
  counter-reset: num;
  margin: 0 0 0 60px;
  padding: 15px 0 5px 0;
  font-size: 16px;
  margin: 0;
}
.gramota-berau-ol li {
  position: relative;
  margin: 0 0 0 0;
  padding: 0 50px 10px 0;
}

.gramota-berau-ol li:before {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -20px;
  width: 30px;
  font-family: "Conv_SuisseIntl-SemiBold";
}

.gramota-berua-textarea textarea {
  resize: none;
  font-family: "Conv_SuisseIntl-Regular";
  padding: 23px 23px 23px 121px;
  height: 288px;
}

.gramota-berua-select select {
  font-family: "Conv_SuisseIntl-Regular";
  padding: 23px 23px 23px 121px;
}

.gramota-dictionaries {
}

.gramota-dictionary-link {
  cursor: pointer;
}

.gramota-dictionary img {
  width: 50%;
}

@media (min-width: 576px) and (max-width: 768px) {
  .gramota-dictionary img {
    width: 90%;
    margin: 10% 0 0 10%;
  }
}

.gramota-list-slyle-none {
  list-style: none;
}

.gramota-answers-menu {
  position: sticky;
  left: 0;
  top: 50px;
  margin-top: 150px;
  width: 200px;
}

.gramota-answers-menu h2 {
  margin-left: 18px;
}

.gramota-answers-menu ul {
  list-style: none;
  padding: 0;
}

.gramota-answers-menu ul li a {
  padding: 7px 18px;
  display: block;
  width: 200px;
}

.gramota-answers-menu ul li a.active {
  background: #f3f3f3;
}

.gramota-answers-list {
  list-style: none;
  padding: 0;
}

@media (max-width: 1649px) {
  .gramota-answers-menu {
    display: none;
  }
  .grmaota-margin {
    margin-top: 0 !important;
  }
}

.gramota-answers-tabs {
  display: block !important;
  border: 0;
}

.gramota-answers-tabs .nav-link {
  text-align-last: left;
  padding: 0;
  border: 0;
  display: block;
  font-family: "Spectral", serif;
  font-size: 22px;
  font-weight: 800;
}

.gramota-answers-tabs .nav-link.active {
  background: #efeee3;
  position: relative;
}

.gramota-answers-tabs .nav-link.active:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 12px;
  border-color: transparent transparent transparent #efeee3;
}

@media (max-width: 576px) {
  .gramota-check-yourself-card {
    min-height: 200px;
  }
}

.gramota-check-yourself-card .card {
  background: none;
}

.gramota-check-yourself-card-image {
  display: block;
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

.gramota-check-yourself-card-image img {
  width: 100%;
}

.gramota-check-yourself-list .list-group-item {
  position: relative;
  padding-right: 70px;
}

.gramota-check-yourself-list .list-group-item:hover {
  border: 2px solid #39735d !important;
  box-sizing: border-box;
  margin-top: -2px;
  background: #fff;
}

.gramota-check-yourself-list-wrong {
  border: 2px solid #ed7979 !important;
}

.gramota-check-yourself-list .list-group-item.gramota-check-yourself-list-wrong:hover {
  margin-top: 0px !important;
  border: 2px solid #ed7979 !important;
}

.gramota-check-yourself-list .list-group-item span {
  position: absolute;
  right: 20px;
  top: 20px;
}

.gramota-check-yourself-list .list-group-item.gramota-check-yourself-list-right span {
  top: 0%;
  right: 0;
}

.gramota-check-yourself-list .list-group-item span img {
  width: 12px !important;
  margin: 0 !important;
}

.gramota-check-yourself-list .list-group-item em {
  display: block;
  font-style: normal;
}

.gramota-check-yourself-list-right {
  border: 2px solid #39735d !important;
}

.gramota-check-yourself-list .list-group-item.gramota-check-yourself-list-right:hover {
  margin-top: 0px !important;
}

.gramota-check-yourself-bg {
  background: url(../images/img061.png);
}

@media (max-width: 576px) {
  .gramota-check-yourself-bg {
    background: none;
  }
  .gramota-check-yourself-bg h1 {
    color: #303030 !important;
  }
}

.gramota-check-yourself-list-image img {
  width: 100% !important;
  height: auto !important;
}

.gramota-check-yourself-list-image .list-group-item {
  position: relative;
  padding-right: 0px;
}

.gramota-search-h2 {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    rgb(222, 226, 230) calc(50% + 1px),
    rgba(0, 0, 0, 0) 0%
  );
}

.gramota-search-h2 span {
  background: #fff;
  display: inline-block;
}

.gramota-line {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    rgb(222, 226, 230) calc(50% + 1px),
    rgba(0, 0, 0, 0) 0%
  );
}

.gramota-dictionary-container {
  position: relative;
}

.gramota-dictionary-popup {
  position: absolute;
  background: #0f0;
  top: -32px;
  left: 270px;
  width: calc(100% - 70px);
  z-index: 10;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.gramota-dictionary-popup::before {
  content: "";
  display: block;
  position: absolute;
  left: -10px;
  top: 35px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
}

.gramota-dictionary-popup-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.gramota-dictionary-popup .btn {
  background: #ffe350;
}

.gramota-dictionary-popup.active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 992px) {
  .gramota-dictionary-popup::before {
    display: none;
  }
  .gramota-dictionary-popup {
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
}
@media (max-width: 576px) {
  .gramota-dictionary-popup {
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }
}

.gramota-dictionaries-list ul {
  padding: 0;
}

.gramota-dictionaries-list li {
  padding: 0 0 0 24px;
  position: relative;
}

.gramota-dictionaries-list li svg {
  position: absolute;
  left: 0;
  top: 8px;
}

.gramota-dictionaries-list-btn {
  padding: 0 27px 0 0;
  background: url("../images/img041.png") no-repeat 100% 5px;
  cursor: pointer;
}

.gramota-dictionaries-list-btn.collapsed {
  background: url("../images/img040.png") no-repeat 100% 5px;
}

.gramota-search-settings-button {
  top: 50%;
  right: 1rem;
  transform: translatey(-50%);
  cursor: pointer;
}

.gramota-search-settings-popup {
  position: absolute;
  width: 100%;
  top: 100%;
  background: #fff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.gramota-search-settings-popup.active {
  opacity: 1;
  visibility: visible;
}

.gramota-search-settings-popup:before {
  content: "";
  display: block;
  position: absolute;
  left: calc(100% - 180px);
  top: -12px;
  width: 22px;
  height: 12px;
  background: url("../images/img068.png");
}

.gramota-search-settings-popup .nav-tabs .nav-link {
  border: 0 !important;
  font-family: "Conv_SuisseIntl-Regular";
}

.gramota-search-settings-popup .nav-tabs .active {
  border: 0;
  border-bottom: 8px solid #303030 !important;
  font-family: "Conv_SuisseIntl-SemiBold";
}

.gramota-search-settings-fade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.gramota-search-settings-fade.active {
  opacity: 1;
  visibility: visible;
}

.gramota-search-settings-popup label a {
  font-family: "Conv_SuisseIntl-SemiBold" !important;
  font-size: 15px !important;
}

.gramota-dictation-container {
  position: relative;
}

.gramota-dictation span a {
  font-weight: 800;
  color: #2569ec !important;
  text-decoration: none;
  cursor: pointer;
}

.gramota-dictation-popup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
  width: 270px;
  background: #fff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  display: block;
}

@media (max-width: 576px) {
  .gramota-dictation-popup {
    position: fixed;
    width: 100vw;
    bottom: 0;
  }
}
.gramota-dictation-popup.active {
  opacity: 1;
  visibility: visible;
}

.gramota-dictation-popup strong {
  display: block;
}

.gramota-dictation-popup-close {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.gramota-dictation span a.gramota-dictation-popup-option {
  font-weight: normal !important;
  font-family: "Conv_SuisseIntl-Regular";
  color: #303030 !important;
  font-size: 15px;
  display: block;
  padding: 9px 21px;
}

.gramota-dictation-popup-option:hover {
  background: #f3f3f3;
}

.gramota-berau-list li {
  position: relative;
  padding: 0 0 0 26px;
}

.gramota-berau-list a::before {
  content: "";
  width: 13px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 6px;
  background: url("../images/img069.png");
  background-size: cover;
}

.gramota-search-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  z-index: 120;
  top: -80px;
  transition: 0.5s;
}
.gramota-search-popup.active {
  top: 0;
}

.gramota-search-popup input {
  font-size: 24px;
  padding-right: 120px;
}

.gramota-fade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 110;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.gramota-fade.active {
  opacity: 1;
  visibility: visible;
}

.gramota-search-popup-find {
  right: 75px;
  top: 29px;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
}

.gramota-search-popup-close {
  right: 30px;
  top: 29px;
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .gramota-search-popup {
    height: 60px;
  }

  .gramota-search-popup-find {
    right: 60px;
    top: 19px;
  }

  .gramota-search-popup-close {
    right: 20px;
    top: 19px;
  }
}

.gramota-auth-popup {
  position: fixed;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
  z-index: 120;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}

.gramota-auth-popup.active {
  visibility: visible;
  opacity: 1;
}

.gramota-auth-popup-list li {
  position: relative;
  padding-left: 30px;
}

.gramota-auth-popup-list li svg {
  position: absolute;
  left: 0;
  top: 4px;
}

.gramota-auth-popup-close {
  position: absolute;
  right: 19px;
  top: 19px;
  cursor: pointer;
}

.gramota-auth-popup-passwd a {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.gramota-auth-popup-social a {
  width: 88px;
  height: 60px;
  border-radius: 55px;
}

@media (max-width: 1500px) {
  .gramota-auth-popup {
    width: 60%;
  }
}
@media (max-width: 1280px) {
  .gramota-auth-popup {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .gramota-auth-popup {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .gramota-auth-popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: scroll;
  }
}

@media (max-width: 576px) {
  .gramota-auth-popup-social a {
    width: 67px;
    height: 41px;
    border-radius: 55px;
  }
  .gramota-auth-popup-social a svg,
  .gramota-auth-popup-social a img {
    transform: scale(0.7);
  }
}
@media (max-width: 768px) {
  .gramota-check {
    margin: 0 !important;
  }
}

/* styles for hovers & hovers */

.gramota-header .nav-link.text-dark:hover {
  opacity: 0.8;
}

.gramota-hamburger:hover {
  opacity: 0.6;
}
.gramota-menu-search:hover {
  opacity: 0.6;
}

.gramota-menu-profile:hover {
  opacity: 0.6;
}

.gramota-search .nav-link:hover {
  opacity: 0.65;
}

.gramota-top-search-tabs .nav-link {
  color: #fff !important;
}

.gramota-top-search-tabs .nav-link:hover {
  color: #bacec6 !important;
  opacity: 1;
}

.gramota-search-top-block button.btn:hover {
  background: #f7da47 !important;
}

.gramota-search-settings-button:hover {
  opacity: 0.65;
}

.gramota-card-promo a.btn {
  color: #fff !important;
}

.gramota-card-promo a:hover {
  background: #336854 !important;
}
.gramota-card-promo.gramota-card-promo2 a:hover {
  background: #f7da47 !important;
}

.gramota-btn {
}

.gramota-btn:hover {
  opacity: 0.6;
}

.gramota-show-more:hover {
  opacity: 0.6;
}

a.text-muted:hover {
  color: #303030 !important;
}

a:hover,
a span:hover,
a.text-dark:hover,
a.text-dark:hover span {
  color: #656565 !important;
}

a.btn.border-dark:hover {
  border-color: #656565 !important;
}

.gramota-collapse a:hover {
  opacity: 0.7;
}

.gramota-subscribe button[type="submit"]:hover {
  background: #505050 !important;
}

.gramota-favourites a:hover {
  opacity: 0.7;
}

.pagination .page-link:hover {
  background: #cde0d5;
}

.gramota-social a:hover img {
  outline: 1px solid #303030;
  border-radius: 50%;
  display: block;
}

.gramota-btn-green {
  background: #39735d;
  transition: 0.3s;
}

.gramota-btn-green:hover {
  background: #336854;
}

.gramota-check-yourself-card * {
  position: relative;
  z-index: 40;
}

.gramota-check-yourself-card-image {
  filter: ;
}

.gramota-check-yourself-card-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  opacity: 0;
  z-index: 30;
}

.gramota-check-yourself-card:hover .gramota-check-yourself-card-bg {
  opacity: 1;
}

.gramota-btn-black {
  background: #303030;
  transition: 0.3s;
}
.gramota-btn-black:hover {
  background: #505050;
}
